{% extends "base.html" %}

{% block title %}{{name}} | {{shop_name}}{% endblock %}
{% block description %}{{description |truncate(150)}}{% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/product.css">
<script type="text/javascript" src="/js/custombox.js"></script>
<!-- Render call for Google +1 button -->
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
{% endblock %}

{% block content %}
    <div class="page-header">
      <h2>{{shop_name}}</h2>
    </div>
    <div class="row">
    <span class="span10">
    <ul class="breadcrumb">
	  <li><a href="/">Home</a> <span class="divider">/</span></li>
	  <li><a href="/{{category}}">{{category}}</a> <span class="divider">/</span></li>
	  <li class="active">{{name}}</li>
    </ul>
    </span>
    <span class="span4">
      <a href="#" class="btn large">Go to Cart (10 items) &raquo;</a>    
    </span>
    </div>
    <div class="row" itemscope itemtype="http://data-vocabulary.org/Product">
      <div class="span9">
		<ul class="media-grid">
		{% for i in images %}
		<span id="{% if loop.index == 1 %}featured{%else%}thumb{{loop.index}}{% endif %}">
		<li>
		<a class="custombox" rel="group" href="{{imagelinker(i)}}">
		<img itemprop="image" src="{% if loop.index == 1 %}{{imagelinker(i)}}" width="480px" height="360px" alt = "{% else %}{{imagelinker(i,'100')}}" width="100px" height="100px" alt = "thumb{% endif %}-{{name}}-{{loop.index}}"/>
		</a>
		</li>
		</span>
	    {% endfor %}
	    </ul>
      </div>
      <div class="span5">
        <h1 itemprop="name">{{name}}</h1>
		<ul id="socialshare">
			<li class="facebook">
				<div id="fb-root"></div>
				<script type="text/javascript">_ga.trackFacebook();</script>
				<fb:like href="http://a.localhost:8085/category/product" send="false" layout="button_count" width="80" show_faces="false"></fb:like>
			</li>
			<li class="twitter">
				<a href="https://twitter.com/share"	class="twitter-share-button" data-count="horizontal">Tweet</a>
				<script	type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			</li>
			<li>
				<div class="g-plusone" data-size="tall" data-annotation="none"></div>
			</li>
		</ul>
        <p>
	        <span itemprop="description">{{description}}</span>
	        <ul class="tags">
	        {% for i in tags %}
	        	<li>{{i}}</li>
	        {% endfor %}
	        </ul>
	        {% for option in options %}
				{% for key,value in option.items() %}
					<label for="mediumSelect-{{loop.index}}">{{key}}</label>
					<select class="medium" name="{{key}}Select" id="mediumSelect-{{key}}">
					{% for i in value %}<option>{{i}}</option>{% endfor %}
					</select>
				{% endfor %}
			{% endfor %}
			<label for="miniSelect">Quantity</label><select class="mini" name="quantitySelect" id="miniSelect">
	        {% for number in range(1,quantity+1) %}
			  <option>{{ number }}</option>
			{% endfor %}
	        </select>
			<span itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
	        <p class="price">Price {% if currency == 'GBP' %}&pound;{% else %}&dollar;{% endif %}<span itemprop="price">{{price}}</span></p>
	        <meta itemprop="availability" content="in_stock" />
	        <meta itemprop="currency" content="{{currency}}" />
	        <meta itemprop="quantity" content="{{quantity}}" />
	        <meta itemprop="identifier" content="{{id}}" />
	        </span>
	        <a href="#" class="btn large primary pull-right">Add to Cart</a>
        </p>
      </div>
    </div>
    <div class="row">
    <span class="4">
    <div class="topbar" style="position:static">
      <div class="fill">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/sitemap">Sitemap</a></li>
          </ul>
        </div>
      </div>
    </div>
          </span> 
    </div>
{% endblock %}
{% block footer %}
 <!-- Google Analytics Social Button Tracking -->
  <script src="https://s3.amazonaws.com/ha_js/ga_social_tracking.js"></script>

  <!-- Facebook async loading of JSAPI -->
  <div id="fb-root"></div>
  <script>
    // Facebook async loading.
    (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol +
        '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());

    window.fbAsyncInit = function() {
      FB.init({appId: '164838206912600', status: true, cookie: true,
               xfbml: true});

      _ga.trackFacebook();
    };

  </script>
 {% endblock %}