{% extends "base.html" %}

{% block title %}{{name}} | {{shop_name}}{% endblock %}
{% block description %}{{description |truncate(150)}}{% endblock %}
{% block head %}
<link rel="stylesheet" href="/css/product.css">
<script type="text/javascript" src="/js/custombox.js"></script>
			<script>
            $(function() {
              var btn = $('#addtocart').live("click", function() {
                btn.button('loading')
                $(this).attr('class',$(this).attr('class').replace('primary','success'))
                $(this).attr('id','gotocart')
                setTimeout(function () {
                  btn.button('reset')
                }, 3000)
              })
              $('#gotocart').live("click", function() {
            	  document.location='/cart';
              });
        	})
          </script>
{% endblock %}

{% block content %}
    <div class="page-header">
      <h2>{{shop_name}}</h2>
    </div>
    <div class="row">
    <div class="span10">
    <ul class="breadcrumb">
	  <li><a href="/">Home</a> <span class="divider">/</span></li>
	  <li><a href="/{{category}}">{{category}}</a> <span class="divider">/</span></li>
	  <li class="active">{{name}}</li>
    </ul>
    </div>
    <span class="span4">
      <a href="/cart" class="btn large">Go to Cart (10 items) &raquo;</a>    
    </span>
    </div>
    <div class="row" itemscope itemtype="http://data-vocabulary.org/Product">
      <div class="span9">
		<ul class="media-grid">
		{% for i in images %}
		<span id="{% if loop.index == 1 %}featured{%else%}thumb{{loop.index}}{% endif %}">
		<li>
		<a class="custombox" rel="group" href="{{imagelinker(i)}}">
		<img itemprop="image" src="{% if loop.index == 1 %}{{imagelinker(i)}}" width="480px" height="360px" alt = "{% else %}{{imagelinker(i,'100')}}" width="100px" height="100px" alt = "thumb{% endif %}-{{name}}-{{loop.index}}"/>
		</a>
		</li>
		</span>
	    {% endfor %}
	    </ul>
      </div>
      <div class="span5">
        <h1 itemprop="name">{{name}}</h1>
		<ul id="socialshare">
			<li class="facebook">
				<div id="fb-root"></div>
				<script type="text/javascript">_ga.trackFacebook();</script>
				<script type='text/javascript'>document.write('<fb:like href="'+document.location+'" send="false" layout="button_count" width="80" show_faces="false"></fb:like>');</script>
			</li>
			<li class="twitter">
				<a href="https://twitter.com/share"	class="twitter-share-button" data-count="horizontal">Tweet</a>
				<script	type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			</li>
			<li>
				<div class="g-plusone" data-size="tall" data-annotation="none"></div>
			</li>
		</ul>
        <p>
	        <span itemprop="description">{{description}}</span>
	        <ul class="tags">
	        {% for i in tags %}
	        	<li>{{i}}</li>
	        {% endfor %}
	        </ul>
	        {% for option in options %}
				{% for key,value in option.items() %}
					<label for="mediumSelect-{{loop.index}}">{{key}}</label>
					<select class="medium" name="{{key}}Select" id="mediumSelect-{{key}}">
					{% for i in value %}<option>{{i}}</option>{% endfor %}
					</select>
				{% endfor %}
			{% endfor %}
			<label for="miniSelect">Quantity</label><select class="mini" name="quantitySelect" id="miniSelect">
	        {% for number in range(1,quantity+1) %}
			  <option>{{ number }}</option>
			{% endfor %}
	        </select>
			<span itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
	        <p class="price">Price {% if currency == 'GBP' %}&pound;{% else %}&dollar;{% endif %}<span itemprop="price">{{price}}</span></p>
	        <meta itemprop="availability" content="in_stock" />
	        <meta itemprop="currency" content="{{currency}}" />
	        <meta itemprop="quantity" content="{{quantity}}" />
	        <meta itemprop="identifier" content="{{id}}" />
	        </span>
			<button id="addtocart" data-loading-text="loading..." data-reset-text="Added! Go to Cart" class="btn large primary pull-right">Add to Cart</button>
        </p>
      </div>
    </div>
    <div class="row">
    <div class="topbar" style="position:static">
      <div class="fill">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/sitemap">Sitemap</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
{% endblock %}