{% extends "base.html" %}

{% block title %}The shopping cart app | Welcome to Qshops{% endblock %}

{% block head %}
<link rel="stylesheet" href="/css/qshops-home.css">
{% endblock %}

{% block content %}
    <div class="page-header">
      <h2>Qshops.net</h2>
    </div>
    <div class="row">
      <div class="span10">
        <h1>E-commerce the easy way</h1>
      </div>
      <div class="span4">
        <h3>&pound;999 per month</h3>
      </div>
      </div>
      <div class="row">
      <div class="span14">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt...and this will convince them to buy!</p>
      </div>
      </div>
      <div class="row" id="signup-form">
      <div class="span14">
      <label for="StoreName">Store name</label>
      <input class="medium" id="StoreName" name="xlInput" size="30" type="text">
      <label for="Email">Email</label>
      <input class="medium" id="Email" name="xlInput" size="30" type="text">
      <label for="Password">Password</label>
      <input class="medium" id="Password" name="xlInput" size="30" type="text">
      <a href="#" class="btn large primary">Start Now!</a>
      </div>
      </div>
      <div class="row">
      <div class="span3">
      <h4>List</h4>
      <ul>
      <li>Lorem ipsum</li>
      <li>dolor</li>
      <li>sit amet</li>
      <li>consectetuer adipiscing elit</li>
      <li>sed diam</li>
      </ul>
      </div>
      <div class="span3">
      <h4>List</h4>
      <ul>
      <li></li>
      </ul>
      </div>
      <div class="span3">
      <h4>List</h4>
      <ul>
      <li></li>
      </ul>
      </div>
      <div class="span5">
      <img src="http://placehold.it/280x280.jpg" alt="" /></div>
      </div>
      <div class="row">
      <div class="span14">
      	<ul id="socialshare">
			<li class="facebook">
				<div id="fb-root"></div>
				<script type="text/javascript">_ga.trackFacebook();</script>
				<script type='text/javascript'>document.write('<fb:like href="'+document.location+'" send="false" layout="button_count" width="80" show_faces="false"></fb:like>');</script>
			</li>
			<li class="twitter">
				<a href="https://twitter.com/share"	class="twitter-share-button" data-count="horizontal">Tweet</a>
				<script	type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			</li>
			<li>
				<div class="g-plusone" data-size="tall" data-annotation="none"></div>
			</li>
		</ul>
      </div>
      </div>
{% endblock %}
